.container-cards{
    display: flex;
    justify-content: flex-end;
    background-image:linear-gradient( to bottom, rgba(101,173,251,1) 0%, rgba(94,227,224,1) 100%); ;
    align-items: center;
    height: 100vh;
}