<div class="card-city" *ngIf="weatherData">
    <div class="city-card-header" [ngSwitch]="true" (click)="detail()">
        <p class="city-name">{{weatherData.city}}</p>
        <img class="city-card-img" *ngSwitchCase="weatherCondition === 'Clear'" src="../../../../assets/img/sun.png">
        <img class="city-card-img" *ngSwitchCase="weatherCondition === 'Rain'" src="../../../../assets/img/drop.png">
        <img class="city-card-img" *ngSwitchCase="weatherCondition === 'Drizzle' || weatherCondition === 'Mist'"
            src="../../../../assets/img/drizzle.png">
        <img class="city-card-img" *ngSwitchCase="weatherCondition === 'Clouds'"
            src="../../../../assets/img/cloudy.png">
        <img class="city-card-img" *ngSwitchCase="weatherCondition === 'Sunny'" src="../../../../assets/img/hot.png">
        <img class="city-card-img" *ngSwitchCase="weatherCondition === 'Fog' || weatherCondition === 'Haze'"
            src="../../../../assets/img/fog.png">
        <img class="city-card-img" *ngSwitchCase="weatherCondition === 'Storm' || weatherCondition === 'Thunderstorm'"
            src="../../../../assets/img/drizzle.png">
        <div class="temprature">{{weatherData.temp | tempTransform}}</div>
        <div class="weather-condition">{{weatherData.weatherCondition}}</div>
    </div>
    <div class="city-card-footer">
        <div class="temp-conteiner">
            <img class="min-max-icon" src="../../assets/img/caret-down.svg">
            <div class="min-max-temp">{{weatherData.minTemp | tempTransform}}</div>
            <div class="min-temp-text">Min</div>
        </div>
        <div class="temp-conteiner">
            <img class="min-max-icon" src="../../assets/img/caret.svg">
            <div class="min-max-temp">{{weatherData.maxTemp | tempTransform}}</div>
            <div class="max-temp-text">Max</div>
        </div>
    </div>
    <button class="add-city-btn" *ngIf="addMode" (click)="addCity()">ADD CITY </button>
</div>