.card-city{
    text-align: center;
    border-radius: 15px;
    width: 300px;
    font-size: 35px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);;
}

.city-card-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .city-name{
        font-size: 18px;
        padding: 10px;
        text-transform: uppercase;
    }
    .city-card-img{
        width: 200px;
        padding: 10px;
        margin: 0 auto;
    }
    .temprature{
        font-weight: 400;
        margin: 10px;
    }
    .weather-condition{
        text-transform: uppercase;
        font-size:14px;
    }
}

.city-card-footer{
    display: flex;
    justify-content: space-around;
    width:100%;
    padding-top: 10px;
    .temp-conteiner{
        display: flex;
        flex-direction: column;
        .min-max-icon{
            width:15px;
            margin: 0 auto;
        }
        .min-max-temp{
            font-size: 16px;
            font-weight: 400;
        }
        .min-temp-text{
            font-size: 12px;
            color: #00ff9b;
        }
        .max-temp-text{
            font-size: 12px;
            color:#ff0000
        }
    }
}

.add-city-btn {
    cursor: pointer;
    border-radius: 30px;
    border: none;
    background-color: #2b244d;
    color: white;
    margin-top: 20px;   
    font-size: 16px;
    font-weight: 800;
    padding: 15px 30px;
  }

.temprature:after {
    content: "\00b0"
}

.weather-condition-image{
    width: 100px;
}