.search-city-container{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-city-box{
    width: 50%;
    padding: 50px;
    margin: 0 auto;
    position: relative;
}

.search-city-input {
    box-sizing: border-box;
    width: 100%;
    text-transform: uppercase;
    padding: 1.5rem;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
    font-size: 1rem;
    color: #182681;
    outline: none;
  }
  
  .search-city-input::placeholder {
    font-size: 16px;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  .search-city-btn {
    cursor: pointer;
    position: absolute;
    background-color: #31feae;
    border-radius: 50%;
    right: 20px;
    top: 40px;
    border: none;
    z-index: 2;
    height: 90px;
    width: 90px;
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.1);
    outline: none;
  }

  .back-btn{
    background-color: black;
    border-radius: 50px;
    width:60px;
    height: 60px;
    position: fixed;
    top:50px;
    left: 50px;
    
}

.back-btn-icon{
    width: 50px;
    cursor: pointer;
    margin-top: 5px;
}