<div class="search-city-container">
    <div class="back-btn">
        <img class="back-btn-icon" src="../../../../assets/img/back.png" routerLink="..">
    </div>
    <div class="search-city-box">
        <input class="search-city-input" placeholder="Search City" (keyup.enter)="showCity(newCity.value)" #newCity>
        <button class="search-city-btn" (click)="showCity(newCity.value)">
            <img cldass="search-city-icon" src="">
        </button>
    </div>
    <div>
        <app-card-city class="app-card-city" [cityName]="cityName" [addMode]="true">
        </app-card-city>
    </div>
</div>