.background-detail-city{
    background: linear-gradient(to bottom, rgba(220,195,252,1) 0%, rgba(112,208,236,1) 100%);
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
}

.circle-background-detail-city{
    background:linear-gradient(45deg, rgba(255,218,159,1) 0%, rgba(255,197,227,1) 100%);
    position: absolute;
    top: -50;
    right: 0;
    width : 80rem;
    height :80rem;
    border-radius: 50%;
    
}

.back-btn{
    background-color: black;
    border-radius: 50px;
    position: relative;
    width:60px;
    height: 60px;
    top: -310px;
    left: 20px;
}

.back-btn-icon{
    position: absolute;
    width: 50px;
    right: -5px;
    bottom: 5px;
    cursor: pointer;
    margin-top: 30px;
    background-image: rgba(0, 0, 0, 0.7);
}

.detail-city-card{
    border-radius: 1rem;
    background-color: #fff;
    width: 80%;
    margin :10rem auto;
    z-index: 1;
    overflow: hidden; 
}

.detail-city-card-header{
    background:linear-gradient(to bottom, rgba(104,103,172,1) 0%, rgba(254,186,186,1) 100%);
    color:#fff;
    display: flex;
    justify-content:space-around;
    padding-bottom: 50px;
}

.today-weather-info{
    width:50%;
    text-align: center;
    margin-top: 5rem;

    .temp-container{
        display: flex;
        flex-direction: column;
        .temprature{
            font-size: 45px;
            font-weight: 400;
            padding: 1rem;
        }
        .weather-condition{
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-size: 20px;
        }
    }
    .list-of-condition-conteiner{
        display: flex;
        justify-content:center;
        text-align:center;
        padding:3rem;
        .item-container{
            display: flex;
            flex-direction: column;
            .item-text{
                text-transform: uppercase;
                font-size: 0.8rem;
                letter-spacing: .2rem;
            }
            .item-value{
                font-size: 0.7rem;
            }
        }
        .vertical-line{
            margin : 0 1.2rem;
            width: .1rem;
            height: 2rem;
            background-color: #fff;
        }

    }
}



.city-card-name{
    width:50%;
    text-align: center;
    margin-top: 5rem;
    p{ 
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 60px;
    }

    p:after{
        content: "";
        display: block;
        margin:0 auto;
        margin-top: 1rem;
        height: .1rem;
        width: 5rem;
        background-color: #fff;
    }
}

.detail-city-card-footer{
    display: flex;
    justify-content:space-around;
    padding:30px;
    .twitter-container{
        display: flex;
        flex-direction: column;
        width: 50%;
        .twitter-nav-container{
            display: flex;
            justify-content:space-around;
            align-items: center;
            .twitter-icon{
                width: 20px;
            } 
            p{
                margin: 0;
            }
        }
        .tweets{
            text-align: center;
            padding: 10px;
        }
    }
    
    .weather-forecast{
        width: 50%;
        display: flex;
        justify-content:space-around;
        .day-weather-conteiner{
            display: flex;
            flex-direction: column;
            text-align: center;
            .day-name{
                font-weight: 500;
            }
            .weather-condition-img{
                width: 70px;
                padding:5px;
            }          
           
            .day-weather-condition{
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 10px;
            }
        }
        
    }
}



