<div class="background-detail-city">
    <div class="circle-background-detail-city"></div>
    <div class="back-btn">
        <img class="back-btn-icon" src="../../../../assets/img/back.png" routerLink="../..">
    </div>
    <div class="detail-city-card">
        <div class="detail-city-card-header" *ngIf="weatherData">
            <div class="today-weather-info">
                <div class="temp-container">
                    <span class="temprature">{{weatherData.temp | tempTransform}}°</span>
                    <span class="weather-condition">{{weatherData.weatherCondition}}</span>
                </div>
                <div class="list-of-condition-conteiner">
                    <div class="item-container">
                        <span class="item-text">humidity</span>
                        <span class="item-value">{{weatherData.humidity}}%</span>
                    </div>
                    <div class="vertical-line"></div>
                    <div class="item-container">
                        <span class="item-text">wind</span>
                        <span class="item-value">{{weatherData.wind}}K/M</span>
                    </div>
                </div>
            </div>
            <div class="city-card-name">
                <p>{{weatherData.city}}</p>
            </div>
        </div>
        <div class="detail-city-card-footer" *ngIf="weatherData">
            <div class="twitter-container">
                <div class="twitter-nav-container">
                    <img src="../../assets/img/twitter.svg" alt="twitter-icon" class="twitter-icon">
                    <p>Twitter Feed</p>
                    <a href="#">#{{weatherData.city}}</a>
                </div>
                <div class="tweets">
                    <p>No Tweets Found.</p>
                </div>
            </div>
            <div class="weather-forecast">
                <div class="day-weather-conteiner" [ngSwitch]="true" *ngFor="let day of days ;index as i">
                    <div class="day-name">{{day}}</div>
                    <div>
                        <img class="weather-condition-img" *ngSwitchCase="everyDayWeatherCondition[i] === 'Clear'"
                            src="../../../../assets/img/sun.svg">
                        <img class="weather-condition-img" *ngSwitchCase="everyDayWeatherCondition[i] === 'Rain'"
                            src="../../../../assets/img/drop.png">
                        <img class="weather-condition-img"
                            *ngSwitchCase="everyDayWeatherCondition[i] === 'Drizzle' || everyDayWeatherCondition[i] === 'Mist'"
                            src="../../../../assets/img/drizzle.png">
                        <img class="weather-condition-img" *ngSwitchCase="everyDayWeatherCondition[i] === 'Clouds'"
                            src="../../../../assets/img/cloudy.png">
                        <img class="weather-condition-img" *ngSwitchCase="everyDayWeatherCondition[i] === 'Sunny'"
                            src="../../../../assets/img/hot.png">
                        <img class="weather-condition-img"
                            *ngSwitchCase="everyDayWeatherCondition[i] === 'Fog' || everyDayWeatherCondition[i] === 'Haze'"
                            src="../../../../assets/img/fog.png">
                        <img class="weather-condition-img"
                            *ngSwitchCase="everyDayWeatherCondition[i] === 'Storm' || everyDayWeatherCondition[i] === 'Thunderstorm'"
                            src="../../../../assets/img/drizzle.png">
                    </div>
                    <div class="day-temprature">{{everyDayTemp[i]}}°</div>
                    <div class="day-weather-condition">{{everyDayWeatherCondition[i]}}</div>
                </div>
            </div>
        </div>
    </div>

</div>